<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<mapper namespace="SwboardMapper">
	<select id="selectAllSwboard" resultType="swboard">
		SELECT
			*
		FROM
			swboard
		ORDER BY 
			articlenumber asc
	</select>
	
	
  <select id="getCount" resultType="java.lang.Integer">
    select count(*) from swboard
  </select>
 
  <select id="getSwboardList" resultType="swboard">
    select * from swboard left outer join members on articleuserid = memid order by ARTICLENUMBER desc
  </select>
  
  <select id="getSwboardListByContent" parameterType="swboard" resultType="swboard">
    select * from swboard where ARTICLECONTENT like concat('%',#{search},'%')
  </select>
  <select id="getSwboardListBySubject" parameterType="java.lang.String" resultType="swboard">
    select * from swboard where ARTICLESUBJECT like concat('%',#{search},'%')
  </select>
  <select id="getSwboardListByUserid" parameterType="java.lang.String" resultType="swboard">
    select * from swboard where ARTICLEUSERID like concat('%',#{search},'%')
  </select>
  
  <select id="getCnoList" resultType="swboard">
  	select no , count(*) as cno from comment group by no
  </select>
  
  <update id="insertReadCnt" parameterType="swboard">
  	update swboard set articlereadcnt = #{articlereadcnt} where ARTICLENUMBER = #{articlenumber}
  </update>
  
  <select id="loginCheck" parameterType="members" resultType="members">
  	SELECT
  		*
  	FROM 
  		members
  	WHERE
  		memid = #{memid}
  	AND
  		mempass = #{mempass}
  </select>
  
  <select id="getArticle" parameterType="Integer" resultType="swboard">
  	SELECT
  		*
  	FROM
  		swboard
  	WHERE
  		ARTICLENUMBER = #{articlenumber}
  </select>
  
  <select id="getListCmt" parameterType="String" resultType="comment">
  	SELECT
  		*
  	FROM
  		comment
  	WHERE
  		no = #{param}
  </select>
</mapper>