<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="klutch.homepage.com.model.Swboard" alias="swboard"/>
		<typeAlias type="klutch.homepage.com.model.Comment" alias="comment"/>
		<typeAlias type="klutch.homepage.com.model.Members" alias="members"/>
		<typeAlias type="klutch.homepage.com.model.Counter" alias="CounterVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="klutch/homepage/com/xml/SwboardMapper.xml" />
		<mapper resource="klutch/homepage/com/xml/Counter.xml" />
	</mappers>
</configuration>